@page
@model WebQuest.Pages.WebQuestModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<link rel="stylesheet" href="~/css/site.css" />
<h4 class="message">@Model.Message</h4>
<h4 class="message">@Model.PlayerState</h4>
@if (Model.Options != null)
{
    for (int i = 0; i < Model.Options.Count; i++)
    {
<form method="post">
    <button class="btn btn-default">@Model.Options[i]</button>
    <input type="hidden" name="selectedOptionId" value="@i" />
        <input value="@Model.id" name="id" type="hidden">
</form>
    }
}

